h1{
   font-family: Georgia;
   padding-left:420px;
  }
  
 h3{
    font-family: Georgia;
    padding-left: 80px;
 }

form{
  padding-left: 410px;
  font-family: Georgia;
  font-size: 16px;

}
  
.fundo {
    background: url(../resources/home.jpg);
  }












